@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../public/PretendardVariable.woff2") format("woff2-variations");
}

html,
html.dark {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

video.streaming-layout-full {
  /* absolute inset-0 w-full h-full object-cover */
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video.streaming-layout-box {
  /* w-[30%] absolute right-0 bottom-0 aspect-video border */
  width: 30%;
  position: absolute;
  right: 0;
  bottom: 0;
  aspect-ratio: 16/9;
  border-width: 1px;
}
